<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id ="st" class ="com.rana.beans.Student">
	
	<constructor-arg value="83.8f" type="float"/>
	<constructor-arg value="Diwakar Rana" type="java.lang.String"/>
	<constructor-arg value="100" type="int" name="m1"/>
	<constructor-arg value="1000" type="int" name="sno"/>
</bean>
</beans>
